@media(max-width: 1279px) {

    /*===================
    ================ home =========
    ====================================*/
    .front-page {
        .logo {
            padding-left: 100px;
        }

        .content {
            padding-right: 100px;
        }
    }

    .menu {
        padding: 0 100px;
    }

    .gtg-plus {
        padding-right: 100px;
        padding-left: 3%;
    }
}