@font-face {
    font-family: 'Nexa';
    src: url('../fonts/nexa-light/NexaLight.eot');
    src: url('../fonts/nexa-light/NexaLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/nexa-light/NexaLight.woff2') format('woff2'),
        url('../fonts/nexa-light/NexaLight.woff') format('woff'),
        url('../fonts/nexa-light/NexaLight.ttf') format('truetype'),
        url('../fonts/nexa-light/NexaLight.svg#NexaLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Loverica';
    src: url('../fonts/loverica/LovericaDEMO.eot');
    src: url('../fonts/loverica/LovericaDEMO.eot?#iefix') format('embedded-opentype'),
        url('../fonts/loverica/LovericaDEMO.woff2') format('woff2'),
        url('../fonts/loverica/LovericaDEMO.woff') format('woff'),
        url('../fonts/loverica/LovericaDEMO.ttf') format('truetype'),
        url('../fonts/loverica/LovericaDEMO.svg#LovericaDEMO') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TUV Above';
    src: url('../fonts/tuv-above-light/TUVAbove-Light.eot');
    src: url('../fonts/tuv-above-light/TUVAbove-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/tuv-above-light/TUVAbove-Light.woff2') format('woff2'),
        url('../fonts/tuv-above-light/TUVAbove-Light.woff') format('woff'),
        url('../fonts/tuv-above-light/TUVAbove-Light.ttf') format('truetype'),
        url('../fonts/tuv-above-light/TUVAbove-Light.svg#TUVAbove-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa';
    src: url('NexaBold.eot');
    src: url('../fonts/nexa-bold/NexaBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/nexa-bold/NexaBold.woff2') format('woff2'),
        url('../fonts/nexa-bold/NexaBold.woff') format('woff'),
        url('../fonts/nexa-bold/NexaBold.ttf') format('truetype'),
        url('../fonts/nexa-bold/NexaBold.svg#NexaBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Quincho Script PERSONAL USE';
    src: url('../fonts/qunicho-script/QuinchoScriptPERSONALUSE.eot');
    src: url('../fonts/qunicho-script/QuinchoScriptPERSONALUSE.eot?#iefix') format('embedded-opentype'),
        url('../fonts/qunicho-script/QuinchoScriptPERSONALUSE.woff2') format('woff2'),
        url('../fonts/qunicho-script/QuinchoScriptPERSONALUSE.woff') format('woff'),
        url('../fonts/qunicho-script/QuinchoScriptPERSONALUSE.ttf') format('truetype'),
        url('../fonts/qunicho-script/QuinchoScriptPERSONALUSE.svg#QuinchoScriptPERSONALUSE') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}